#header {
	width: 100%;
	height: 40px;
	background-color: #FEFCE8;
	text-align: center;
	font-size: 30px;
	color:#3D2117;
	padding-top: 10px;
	font-weight: bold;
}

.window {
	width: 30%;
	background-color: #67C5C2;
	float: left;
	margin-top: 5%;
	margin-left: 2%;
	margin-bottom: 1%;
}

.window img {
	width: 100%;
	height: 100%;
	vertical-align:top;
	border: 5px solid #3D2117;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.group:after {
	clear: both;
}

.locationButton {
	height: 30px;
	width: 18%;
	background-color: #C84127;
	float: left;
	margin-left: 2%;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	color: #FEFCE8;
	font-size: 20px;
	padding-top: 10px;

}

#colosseumButton {
	color: #3D2117;
}

#footerText {
	color: #3D2117;
	font-size: 20px;
	width: 100%;
	height: 24px;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-weight: bold;
	background-color: #FEFCE8;
}

body {
	background-color: #67C5C2;
	font-family: verdana;
}

.tags {
	width: 100%;
	height: 30px;
	position: relative;
	bottom: -2px;
	text-align: center;
	font-weight: bold;
	color: #3D2117;
}
