#backgroundWrapper {
	background-color: black;
	width: 1280px;
	height: 620px;
}

#header {
	width: 100%;
	height: 40px;
	background-color: #892020;
	text-align: center;
	font-size: 30px;
	color:white;
	padding-top: 10px;
	font-weight: bold;
	font-family: Verdana;
}

.window {
	height: 306px;
	width: 306px;
	background-color: white;
	border: 2px solid red;
	float: left;
	margin-top: 70px;
	margin-left: 60px;
}

#firstWindow {
	margin-left: 121px;
}

.clear {
	clear: both;
}

.locationButton {
	height: 30px;
	width: 180px;
	background-color: #892020;
	float: left;
	margin-left: 20px;
	border-radius: 5px;
	margin-top: 60px;
	text-align: center;
	font-weight: bold;
	color:white;
	font-size: 20px;
	padding-top: 10px;
	font-family: verdana;
}

#colosseumButton {
	margin-left: 150px;
	color: black;
}

#footerText {
	color: white;
	font-size: 20px;
	margin-top: 20px;
	margin-left: 300px;
	font-family: verdana;
	width: 680px;
}

.window > img {
	width: 306px;
	height: 306px;
}
